body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 20px;
  margin: 0;
  padding: 0;
}

.up-header-wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
}

.up-header-wrapper {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    z-index: 999;
    display: flex;
    transition: background-color 0.3s ease;
    background-color: #1A3C74;
    align-items: center;
}

.up-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 101px;
}

.up-header img{
    width: 134px;
    height: 50px;
}
.up-head-text {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin-left: 450px;
}

.regular-a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Content', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 0;
}

.regular-a:hover {
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Content', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 0;
}

.btn-login {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    height: 50px;
    font-family: 'Content', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 450px;
}
.btn-login:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.left-form {
  background: #FFFFFF;
  max-width: 495px;
  height: 1813px;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.05);
  padding-top: 50px;
  padding-left: 100px;
}

.readness-block {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.readness-block p{
  font-size: 24px;
  line-height: auto;
  margin: 0;
}

.readness-block span {
  text-align: right;
}

.progress-bar {
  width: 350px;
  height: 10px;
  background-color: #D9D9D9;
  border-radius: 5px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background-color: blue;
  min-width: 10px;
  max-width: 350px;
  width: 1%;
  transition: width 0.5s ease;
}

.left-tabs {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Расстояние между вкладками */
}

.tab-button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 350px;
  height: 52px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 10px 10px rgba(0, 0, 0, 0.06);
  border: none;
  font-size: 16px;
  text-align: left;
  padding: 0 20px; /* слева и справа */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tab-button:hover {
  background-color: #e0e0e0;
}

.tab-button.active {
  background-color: #d0dfff;
  border-color: #7aa9ff;
  font-weight: bold;
}

.arrow-icon {
  width: 16px;
  height: 16px;
  pointer-events: none;
  transition: transform 0.3s ease;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  display: block;
  padding-left: 0;
  border-left: 2px solid transparent;
  transition: max-height 0.3s ease, padding 0.3s ease, border-color 0.3s ease;
}

.submenu.open {
  max-height: 1000px;
  padding-left: 10px;
  border-left: 2px solid #ccc;
}

.tab-button.inner {
  background-color: #f9f9f9;
  font-size: 15px;
  padding: 12px 20px;
  margin-top: 5px;
}

.submenu-item {
  background-color: #f0f0f0;
  border: none;
  margin: 4px 0;
  padding: 10px;
  border-radius: 6px;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
}

.submenu-item:hover {
  background-color: #e6e6e6;
}

.color-row {
  display: flex;
  gap: 10px;
  padding: 15px 0;
  flex-wrap: wrap;
}

.color-btn {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border: 1px solid #ddd;
}

.plus-tab {
  font-size: 22px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tab-button.no-arrow img {
  display: none;
}

.save-cv-btn {
  width: 320px;
  height: 71px;
  margin-top: 30px;
  margin-left: 15px;

  background-color: #4294FF;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 32px;
  line-height: 50px;
  letter-spacing: 0;

  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  box-shadow: 0px 2px 10px 10px rgba(0, 0, 0, 0.06);
}